
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap');

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

body{
    border: none;
    margin: 0;
    background-color: hsl(30, 38%, 92%);
}

/* Desktop Only */
@media screen and (min-width: 416px) {
    .picture { 
        display: block;
    }
    .pictureMobile {
        display: none;
    }
}

/* Mobile Only*/
@media screen and (max-width: 416px) {
    .picture {
        display: none;
    }
    .pictureMobile {
        display: block;
    }
    .container {
        width: 100%;
    }
}

.allContain{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    }    

.cart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background:none;
    border: none;
    justify-content: center;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-width: 500px;
    flex: 1;
    border-radius: 8px;
    background-color: whitesmoke;
    margin-top: 15%;
}


.containLeft{
    flex: 1;
}

.containRight{
    flex: 1;
}

.description, .perfume {
    /*font-family: font-family: 'Montserrat', sans-serif;*/
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    padding-left: 8%;
    padding-right: 8%;
    max-width: 80%;
    color: hsl(228, 12%, 48%);
}

.description {
    font-size: small;
    letter-spacing: .009em;
}

.perfume {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .3em;
    margin-top: -10%; /*pulls the whole .containerRight upward*/
}

.productName {
    width: 80%;
    padding-left: 8%;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.picture img, .pictureMobile img{
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}


.containPrice{
    padding-top: 10px;
    padding-left: 8%;
    padding-right: 8%;
}

.price{
    font-family: 'fraunces';
    font-weight: 700;
    font-size: x-large;
    color: hsl(158, 36%, 37%);
}

.oldPrice{
    font-family: 'montserrat', sans-serif;
    text-decoration: line-through;
    font-weight: 500;
    font-size: small;
    padding-left: 1.8em;
}

.push{
    background-color: hsl(158, 36%, 37%);
    padding: 10px;
    width: 70%;
    margin: auto;
    margin-top: 15px;
    border-radius: 8px;
    
}

.cartText {
    font-family: 'montserrat', sans-serif;
    color: white;
    margin-left: 10px;
    margin-bottom: 3px;
}